// Typographic
typo_breakpoint ?= 800px
typo_headers ?= caslon
typo_header_color ?= #111
typo_header_weight ?= 100
typo_tagline_color ?= #aaa
typo_body ?= helvetica
typo_body_color ?= #222
typo_mobile ?= aug_fourth
typo_desktop ?= golden
