@import 'reset.css'
@import 'jeet'

bp = 50em

c1 = black
c3 = white
c6 = blue
c2 = lighten(c1, 20%)
c4 = lighten(c6, 40%)
c5 = lighten(c1, 2%)
c7 = lighten(c6, 10%)
c8 = lighten(c5, 5%)

nav-btn(bg = c5)
  background: bg
  padding: .938em 1.250em
  color: c3
  text-decoration: none
  &:hover
    background: c8

.sidebar
  background: c1
  +above(bp)
    span(1.15/7)
    position: fixed
    height: 100%
.content
  +above(bp)
    span(5.85/7, offset: 1.15/7)
    padding: .5em 2em 60em
.anchorific
  ul
    list-style: none
    padding: 0
    margin: 0
    li
      background: lighten(c1, 2%)
      ul
        display: none
      a
        nav-btn()
        display: block
  li.active
    > a
      color: c7
      border-right: .313em c4 solid
    > ul
      display: block
      margin-left: 2em
.top
  display: none
  +below(bp)
    display: none !important
  +above(bp)
    span(1.15/7)
    nav-btn()
    position: fixed
    bottom: 0
    left: 0
