// Named ratios - http://modularscale.com
minor_second = 1.067
major_second = 1.125
minor_third = 1.2
major_third = 1.25
perfect_fourth = 1.333
aug_fourth = 1.414
perfect_fifth = 1.5
minor_sixth = 1.6
golden = 1.618
major_sixth = 1.667
minor_seventh = 1.778
major_seventh = 1.875
octave = 2
major_tenth = 2.5
major_eleventh = 2.667
major_twelfth = 3
double_octave = 4

// Set your ratio
typography_ratio = aug_fourth
mobile_ratio = major_third

// Aliasing for convenience
t = typography_ratio
m = mobile_ratio

ms(numbawang = 1, ratio = t)
    if (ratio == mobile) or (ratio == m)
        return (numbawang * m)px
    else
        return (numbawang * t)px

// Default typography
html
    color #555
    fs(ms(10))
    font-weight 200 
    line-height ms(15)
    font-family helvetica-neue // https://github.com/jenius/axis/blob/master/axis/settings.styl
a
    color blue
    &:hover
        color darken(blue, 10%) 
h1, h2, h3, h4, h5, h6, strong, b, dt
    color #222
    bold()
h1
    fs(ms(28))
    line-height ms(30)
    margin-bottom ms(10)
h2
    fs(ms(25))
    line-height ms(28) 
    margin-bottom ms(8)
h3
    fs(ms(22))
    line-height ms(26)
    margin-bottom ms(6)
h4
    fs(ms(20))
    line-height ms(24)
    margin-bottom ms(4)
h5
    fs(ms(16))
    line-height ms(22)
    margin-bottom ms(2)
h6
    fs(ms(13))
    line-height ms(20)
    margin-bottom ms(0)
p, ul, ol, pre, dl
    margin-bottom ms(10)
ul, ol
    padding-left 1.4em
li, dd
    margin-bottom ms(5)
pre
    fs(ms(8))
header
    p
        color #bbb
    h1
        ~ p
            margin-top -(ms(5))
    h2
        ~ p
            margin-top -(ms(4))
    h3
        ~ p
            margin-top -(ms(3))
    h4
        ~ p
            margin-top -(ms(2))
    h5
        ~ p
            margin-top -(ms(1))
    h6
        ~ p
            margin-top -(ms(1))

// Mobile
bp()
html
    fs(ms(10, m))
    line-height ms(15, m)
h1
    fs(ms(28, m))
    line-height ms(30, m)
    margin-bottom ms(10, m)
h2
    fs(ms(25, m))
    line-height ms(28, m) 
    margin-bottom ms(8, m)
h3
    fs(ms(22, m))
    line-height ms(26, m)
    margin-bottom ms(6, m)
h4
    fs(ms(19, m))
    line-height ms(24, m)
    margin-bottom ms(4, m)
h5
    fs(ms(16, m))
    line-height ms(22, m)
    margin-bottom ms(2, m)
h6
    fs(ms(13, m))
    line-height ms(20, m)
    margin-bottom ms(0, m)
p, ul, ol, pre, dl
    margin-bottom ms(10, m)
li, dd
    margin-bottom ms(5, m)
pre
    fs(ms(8, m))
header
    p
        color #bbb
    h1
        ~ p
            margin-top -(ms(5, m))
    h2
        ~ p
            margin-top -(ms(4, m))
    h3
        ~ p
            margin-top -(ms(3, m))
    h4
        ~ p
            margin-top -(ms(2, m))
    h5
        ~ p
            margin-top -(ms(1, m))
    h6
        ~ p
            margin-top -(ms(1, m))
endbp()