@import 'reset.css';
* {
  background: #eee;
  background: rgba(0,0,0,0.05);
}
section {
  *zoom: 1;
  width: auto;
  max-width: 800px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  height: 40px;
}
section:before,
section:after {
  content: '';
  display: table;
}
section:after {
  clear: both;
}
