// Buttons - Note: This buttons are horrible and are just used to show you how you, yourself, can extend Jeet!
btn(bg_color = #eee, radius = 10px, style = flat)
    bs()
    display inline-block
    background bg_color
    border-radius(radius)
    cursor pointer
    text-align center
    text-decoration none
    if dark(bg_color)
        box-shadow inset 0 1px 0 rgba(255,255,255,.2)
        border 1px solid saturate(darken(bg_color, 15%), 15%)
        color saturate(lighten(bg_color, 85%), 5%)
        text-shadow 0 1px 0 saturate(darken(bg_color, 20%), 30%)
    if light(bg_color)
        box-shadow inset 0 1px 0 rgba(255,255,255,.5)
        border 1px solid saturate(darken(bg_color, 30%), 20%)
        color saturate(darken(bg_color, 60%), 10%)
        text-shadow 0 1px 0 saturate(lighten(bg_color, 55%), 90%)
    if style is flat
        background linear-gradient(top, lighten(bg_color, 10%) 10%, darken(bg_color, 10%) 90%)
    if style is glossy
        background linear-gradient(top, lighten(bg_color, 8%) 50%, darken(bg_color, 8%) 50%)
    &:hover
        opacity(.9)
        if dark(bg_color)
            color lighten(bg_color, 90%)
        if light(bg_color)
            color darken(bg_color, 80%)

// ChromeFrame for IE6, 7, 8 - Style this to suit your color scheme
.chromeframe
    width 100%
    background #fff
    background linear-gradient(top, #fff, #eee)
    border-bottom 1px solid #ddd
    box-shadow inset 0 -1px 0 #fff
    text-shadow 0 1px 0 #fff
    p
        center()
        padding 15px 0
        margin-top 0
        margin-bottom 0
        text-align center
        margin-bottom 0
        a
            color #3a95fb