/*!
 * Bootstrap v2.0.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world $twitter by $mdo and $fat.
 */

// CSS Reset
// @import "reset.styl"

// Core variables and mixins
@import "variables.styl" // Modify this for custom colors, font-sizes, etc
@import "mixins.styl"

// Grid system and page structure
// @import "scaffolding.styl"
// @import "grid.styl"
// @import "layouts.styl"

// Base CSS
@import "type.styl"
@import "code.styl"
@import "forms.styl"
@import "tables.styl"

// Components: common
@import "sprites.styl"
@import "dropdowns.styl"
@import "wells.styl"
@import "component-animations.styl"
@import "close.styl"

// Components: Buttons & Alerts
@import "buttons.styl"
@import "button-groups.styl"
@import "alerts.styl" // Note: alerts share common CSS with buttons and thus have styles in buttons.styl

// Components: Nav
@import "navs.styl"
@import "navbar.styl"
@import "breadcrumbs.styl"
@import "pagination.styl"
@import "pager.styl"

// Components: Popovers
@import "modals.styl"
@import "tooltip.styl"
@import "popovers.styl"

// Components: Misc
@import "thumbnails.styl"
@import "labels.styl"
@import "progress-bars.styl"
@import "accordion.styl"
@import "carousel.styl"
@import "hero-unit.styl"

// Utility classes
@import "utilities.styl" // Has to be last to override when necessary
