.comparison.text-center.grid-container(data-scroll-index='2')
  .contained.scrollReveal
    h2 Jeet is better than your weak-ass grid.
  .contained.comparison-animation
    .comparatives.fourth.span-example
      .blank-box.bigger.cell
      .comparative.darker.cell
        p Easy to use
      .comparative.cell
        p Flexible
      .comparative.darker.cell
        p Actual columns
    .bootstrap.fourth.span-example
      .bootstrap-grid.bigger.cell
      .check.darker.cell
      .x.cell
      .x.darker.cell
    .foundation.fourth.span-example
      .foundation-grid.bigger.cell
      .check.darker.cell
      .x.cell
      .x.darker.cell
    .jeet.fourth.span-example
      .jeet-logo.bigger.cell
      .check.darker.cell
      .check.cell
      .check.darker.cell
  .cf
  include _nav-full-color
