.featured-articles.grid-container(data-scroll-index='5')
  .contained
    h2.text-center.scrollReveal.fade-in Read about us in...
  .contained
    .half.smashing-magazine.shift-example.scrollReveal.slide-in-first
      h3 Title of external tutorial here
      p.article-summary
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lectus quam, pretium tincidunt , faucibus ac vivamus lacusaliquet vel orci sit amet, pharetra aliquam sapien. Aenean ac nisi in velit porta dictum. Mauris justo libero, porttitor et purus id. 
        a.inline-link(href='http://smashingmagazine.com') Read More
    .half.css-tricks.scrollReveal.slide-in-second
      h3 Title of external tutorial here
      p.article-summary
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lectus quam, pretium tincidunt , faucibus ac vivamus lacusaliquet vel orci sit amet, pharetra aliquam sapien. Aenean ac nisi in velit porta dictum. Mauris justo libero, porttitor et purus id. 
        a.inline-link(href='http://css-tricks.com/') Read More
  .cf
  include _nav-full-color
