footer.footer(data-scroll-index='7')
  .contained
    p.attribution.white.align-example
      | Made with
      span.heart
        |&hearts;
      | by 
      a.mojotech.white(href='http://mojotech.com')
        strong MojoTech
    p.copyright.white © 2014 MojoTech · All rights reserved.
