nav
  .side-nav.full-color.to-be-fixed
    a.side-nav-link.scroll-top.logo(data-scroll-nav='0')
    a.side-nav-link.toggle-api view api
    a.side-nav-link.to-features(data-scroll-nav='1') features
    a.side-nav-link.to-installation(data-scroll-nav='3') installation
    a.side-nav-link.to-resources(data-scroll-nav='4') resources
