extends layout

block content
  include _api
  #demo-container
    include _nav-default
    include _hero
    include _github-band
    include _features
    include _comparison
    include _installation
    include _resources
    include _featured-articles
    include _share
    include _footer
