doctype html
html
  head
    meta(name="viewport", content="initial-scale = 1.0,maximum-scale = 1.0")
    meta(name='keywords', content="jeet fluid grid column span stack custom framework bootstrap foundation corysimmons eliwilliamson mojotech")
    meta(name='description', content="Jeet lets you create your own fluid grid")
    link(rel='shortcut icon', type='image/png', href='/images/favicon.png')
    meta(property="og:title", content="Jeet | Create your own fluid grid")
    meta(property="og:site_name", content="Jeet lets you create your own fluid grid")
    meta(property="og:description", content="Lightweight, semantic, responsive, IE7+, flexible, extensible.")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@jeetframework")
    meta(name="twitter:title", content="Jeet lets you create your own fluid grid")
    meta(name="twitter:description", content="Lightweight, semantic, responsive, IE7+, flexible, extensible.")

    title= path
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    link(rel='stylesheet', href='css/master.css')
    //[if lt IE 10]>
      <link rel='stylesheet', href='css/ie.css'>
      <![endif
  body.landing-page
    block content

  script(src='js/vendor/custom-modernizr.js')
  script(src='js/vendor/pushy.js')
  script(src='js/vendor/scrollIt.js')
  script(src='js/vendor/jquery.slicknav.min.js')
  script(src='js/vendor/matchHeight.js')
  script(src='js/vendor/fancybox.js')
  script(src='js/stickyNav.js')
  script(src='js/interactiveAPI.js')
  script(src='js/animateScroll.js')
  script(src="js/zeroClipboard.min.js")
  script(src="js/updateBrowser.js")
  script(src="js/main.js")
