doctype html
html
  head
    meta(name="viewport", content="initial-scale = 1.0,maximum-scale = 1.0")
    meta(name='keywords', content="Jeet, grid, system, preprocessor, Stylus, Sass, SCSS, CSS, responsive, fluid, ratio, fraction")
    meta(name='description', content="CSS preprocessor grid built with fractions and ratios to make columns flexible and your workflow fast.")
    link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
    meta(property="og:title", content="Jeet Grid | Smart CSS preprocessor grids")
    meta(property="og:site_name", content="Jeet Grid System")
    meta(property="og:description", content="CSS preprocessor grid built with fractions and ratios to make columns flexible and your workflow fast.")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@jeetgrid")
    meta(name="twitter:title", content="Jeet Grid | Smart CSS preprocessor grids")
    meta(name="twitter:description", content="CSS preprocessor grid built with fractions and ratios to make columns flexible and your workflow fast.")

    title Jeet Grid System | Smart CSS preprocessor grids
    script(src="http://fast.fonts.net/jsapi/9f115ec9-04c6-49ed-bf53-7dc9921e4184.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    link(rel='stylesheet', href='css/master.css')
    //[if lt IE 10]>
      <link rel='stylesheet', href='css/ie.css'>
      <![endif
  body.landing-page
    block content

  script(src='js/vendor/custom-modernizr.js')
  script(src='js/vendor/pushy.js')
  script(src='js/vendor/scrollIt.js')
  script(src='js/vendor/jquery.slicknav.min.js')
  script(src='js/bounceApi.js')
  script(src="js/fastclick.js")
  script(src='js/vendor/matchHeight.js')
  script(src='js/vendor/fancybox.js')
  script(src='js/stickyNav.js')
  script(src='js/interactiveAPI.js')
  script(src='js/animateScroll.js')
  script(src="js/zeroClipboard.min.js")
  script(src="js/updateBrowser.js")
  script(src="js/main.js")
