doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='Jeet', content='Make your own fluid grid')
    meta(name='MojoTech', content= "Made with love by MojoTech")
    title= path
    link(rel='stylesheet', href='css/master.css')
    link(rel='stylesheet', href='css/animate.css')
  body.landing-page
    block content

  script(data-main="js/main", src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.min.js")
