// Buttons
@mixin btn($bg_color: #eee, $radius: 10px, $style: flat){
  @include bs;
  display: inline-block;
  background: $bg_color;
  border-radius: $radius;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  // have no idea how to do this with compass... contrast-color
  @if lightness($bg_color) < 50% {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
    border: 1px solid saturate(darken($bg_color, 15%), 15%);
    color: saturate(lighten($bg_color, 85%), 5%);
    text-shadow: 0 1px 0 saturate(darken($bg_color, 20%), 30%);
  }@else if lightness($bg_color) >= 50%{
    box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
    border: 1px solid saturate(darken($bg_color, 60%), 10%);
    color: saturate(darken($bg_color, 60%), 10%);
    text-shadow: 0 1px 0 saturate(lighten($bg_color, 55%), 90%);
  }
  @if $style == flat {
    background: linear-gradient(top, lighten($bg_color, 10%) 10%, darken($bg_color, 10%) 90%);
  }
  @if $style == glossy {
    background: linear-gradient(top, lighten($bg_color, 8%) 50%, darken($bg_color, 8%) 50%);
  }
  &:hover{
    opacity: .9;
    @if lightness($bg_color) < 50%{
      color: lighten($bg_color, 90%);
    }@else if lightness($bg_color) >= 50%{
      color: darken($bg_color, 80%);
    }
  }
}

// ChromeFrame
.chromeframe{
  width: 100%;
  background: #fff;
  background: linear-gradient(top, #fff, #eee);
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0 -1px 0 #fff;
  text-shadow: 0 1px 0 #fff;
  p{
    @include center;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 0;
    a{
      color: $link_color;
    }
  }
}