.basic,
.advanced {
  *zoom: 1;
}
.basic:before,
.advanced:before,
.basic:after,
.advanced:after {
  content: '';
  display: table;
}
.basic:after,
.advanced:after {
  clear: both;
}
.basic {
  width: auto;
  max-width: 1410px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.advanced {
  width: auto;
  max-width: 800px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
}
