.basic aside {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
.basic aside:before,
.basic aside:after {
  content: '';
  display: table;
}
.basic aside:after {
  clear: both;
}
.basic aside:last-child {
  margin-right: 0%;
}
.basic article {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 65.66666666666666%;
  margin-left: 0%;
  margin-right: 3%;
}
.basic article:before,
.basic article:after {
  content: '';
  display: table;
}
.basic article:after {
  clear: both;
}
.basic article:last-child {
  margin-right: 0%;
}
