@font-face
    font-family: 'MetaSerifOT-Book'
    src: url('../fonts/metaserifot-book.eot')
    src: url('../fonts/metaserifot-book.woff') format('woff'),
         url('../fonts/metaserifot-book.ttf') format('truetype'),
         url('../fonts/metaserifot-book.svg') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'altisextra_bold'
    src: url('../fonts/altis-extrabold-webfont.eot')
    src: url('../fonts/altis-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/altis-extrabold-webfont.woff') format('woff'),
         url('../fonts/altis-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/altis-extrabold-webfont.svg#altisextra_bold') format('svg')
    font-weight: normal
    font-style: normal

.meta-serif
    font-family: MetaSerifOT-Book, Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif
    -webkit-font-smoothing: antialiased

.altis-extrabold
    font-family: altisextra_bold, "Helvetica Neue", Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
