* {
  background: #eee;
  background: rgba(0,0,0,0.05);
}
section {
  *zoom: 1;
  width: auto;
  max-width: 900px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
section:before,
section:after {
  content: '';
  display: table;
}
section:after {
  clear: both;
}
div {
  margin-bottom: 30px;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
div:before,
div:after {
  content: '';
  display: table;
}
div:after {
  clear: both;
}
div:nth-child(3n) {
  margin-right: 0%;
  float: right;
}
div:nth-child(3n + 1) {
  clear: both;
}
section:nth-child(2) div {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
section:nth-child(2) div:before,
section:nth-child(2) div:after {
  content: '';
  display: table;
}
section:nth-child(2) div:after {
  clear: both;
}
section:nth-child(2) div:nth-child(3n) {
  margin-right: 3%;
  float: left;
}
section:nth-child(2) div:nth-child(2n + 1) {
  clear: none;
}
section:nth-child(2) div:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
section:nth-child(2) div:nth-child(2n + 1) {
  clear: both;
}
section:nth-child(3) {
  background: #f00;
}
section:nth-child(3) div {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 33.3333333333333%;
  margin-left: 0%;
  margin-right: 0%;
}
section:nth-child(3) div:before,
section:nth-child(3) div:after {
  content: '';
  display: table;
}
section:nth-child(3) div:after {
  clear: both;
}
section:nth-child(3) div:nth-child(3n) {
  float: right;
}
section:nth-child(3) div:nth-child(3n + 1) {
  clear: both;
}
section:nth-child(4) {
  background: #00f;
}
section:nth-child(4) div {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
}
section:nth-child(4) div:before,
section:nth-child(4) div:after {
  content: '';
  display: table;
}
section:nth-child(4) div:after {
  clear: both;
}
section:nth-child(4) div:nth-child(3n) {
  float: left;
}
section:nth-child(4) div:nth-child(2n + 1) {
  clear: none;
}
section:nth-child(4) div:nth-child(2n) {
  float: right;
}
section:nth-child(4) div:nth-child(2n + 1) {
  clear: both;
}
