@import 'jeet/framework'
@import 'jeet/elements'
@import 'jeet/typography'


section
    center()
    background #eee
article
    col(18)
    background #ddd
aside
    col(6)
    background #ddd
    

// Mobile
bp(900px)
html
    background blue
article
    col(24)
    background none
aside
    col(24)
    background none
endbp()