#awwwards
  position absolute
  top 22px
  z-index 9999
  +below(xl-snap)
    top 74px
  &.right
    right 0
    &.black a
      background: url('../img/nominee-grey-cssda-right.svg')
  a
    display block
    width 67px
    height 120px
    text-indent -8000px
    background-repeat no-repeat
    background-position 0 0
    overflow hidden

@media only screen and (max-width: 767px)
  #awwwards
    display none
