#awwwards
  position absolute
  top 22px
  z-index 9999
  +below(xl-snap)
    top 74px
  &.right
    right 0
    &.black a
      retina-background-image('../img/awwwards_nominee_black_right')
  a
    display block
    width 70px
    height 105px
    text-indent -8000px
    background-repeat no-repeat
    background-position 0 0
    overflow hidden

@media only screen and (max-width: 767px)
  #awwwards
    display none
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)
  #awwwards a
    background-size 70px 105px

