.comparison
  padding (xl-padding-block - 17) 0 xl-padding-block 0
  hideAt(small-snap)
  .focused-example
    &.comparatives, &.bootstrap, &.foundation
      border-right none
    &:before
      content 'span(1/4)'
      line-height small-padding-block
.cell
  background light-grey
  min-height large-padding-block + 8
  border-right 1px solid white
  border-top 1px solid white
  background-repeat no-repeat
  background-position center
  box-sizing border-box
  p
    line-height 1.3em
  &.darker
    background-color grey
.no-touch .pushy-active .cell
  white-space normal
  min-height large-padding-block + 27
.check
  background-image url('../img/check.svg')
  background-size 15px 12px
.x
  background-image url('../img/x.svg')
  background-size 12px 13px
.bootstrap-grid
  background-image url('../img/bootstrap-grid.svg')
  background-size 139px 22px
.foundation-grid
  background-image url('../img/foundation-grid.svg')
  background-size 144px 19px
.bigger-cell
  height xl-padding-block
  +below(huge-snap)
    background-size 80%
.pushy-active .bigger-cell
  +below(1400px)
    background-size 80%
.jeet-logo
  background-image url('../img/jeet-logo-color.svg')
  background-size 86px 36px
  +below(large-snap)
    background-size 65%
.comparative
  box-sizing border-box
  text-align left
  line-height 12px
  border-top 1px solid white
  padding small-padding-block (small-padding-block + 4)
  white-space nowrap
  +below(890px)
    padding-right 30%
.fourth
  margin-top med-padding-block - 7
  &.bootstrap, &.foundation
    hideAt(small-snap)
  &.jeet
    box-sizing border-box
    border 1px solid light-green
    .cell
      border-right 0 solid white
    .bigger
      height xl-padding-block - 1
    &.focused-example
      border 2px solid orange
      padding-bottom small-padding-block + 1
