.features-headline
  padding 112px 0 (80 - med-padding-block) 0
  +below(small-snap)
    padding 25px 0 0
  svg
    width 100%
    height 184px
    +below(small-snap)
      width 90%
    path
      transition fill 1s ease-out
.grid-visible svg path
  fill white
.features
  +below(small-snap)
    margin-bottom: 45px
  &.focused-parent.edit-view .edit-example
    edit()
    padding-top small-padding-block + 4
    transition background .2s drawn-out-animation
  .third
    margin-top 0
    padding (large-padding-block / 2) 0
    +below(small-snap)
      margin-top small-padding-block - 6
      padding-bottom 0
    &:nth-child(1)
      +below(small-snap)
        margin-top: 0
  h3
    margin (large-padding-block - 3) 0 (small-padding-block - 11) 0
    +below(small-snap)
      margin-top xs-padding-block - 3
  code
    font-weight bold
  .focused-example
    padding-top large-padding-block
    margin-top large-padding-block + small-padding-block - 6
    &:before
      content 'column(1/3)'
    &.edit-example:before
      content 'edit()'
.features-img
  width 140px
  max-width 100%
  height 140px
  margin auto
  background-size 140px
  background-repeat no-repeat
.pushy-active .features-img
  background-size 100%
.flexibility-img
  retina-background-image('../img/flexibility')
.speed-img
  retina-background-image('../img/speed')
.integration-img
  retina-background-image('../img/integration')
.edit-example
  line-height: 1.35em
