.features
  padding-top xl-padding-block - 17
  +below(small-snap)
    padding (large-padding-block - 17) 0
  &.focused-parent.edit-view .edit-example
    edit()
    margin-top med-padding-block
    padding-top small-padding-block + 4
    transition background .2s drawn-out-animation
    .third
      margin-top 0
  .third
    margin-top ((large-padding-block - 6) - (large-padding-block / 2))
    padding (large-padding-block / 2) 0
    +below(small-snap)
      margin-top small-padding-block - 6
      padding-bottom 0
  h3
    margin (large-padding-block - 3) 0 (small-padding-block - 11) 0
    +below(small-snap)
      margin-top xs-padding-block - 3
  code
    font-weight bold
  .focused-example
    padding-top large-padding-block
    &:before
      content 'column(1/3)'
    &.edit-example:before
      content 'edit()'
.features-headline
  width 100%
  height 184px
  margin-top 39px
  margin-bottom 60px
  +below(med-snap)
    margin-top 0
    margin-bottom 0
  +below(small-snap)
    width 90%
    margin-top small-padding-block * -1
    margin-bottom med-padding-block * -1
.features-img
  width 140px
  max-width 100%
  height 140px
  margin auto
  background-size 140px
  background-repeat no-repeat
.pushy-active .features-img
  background-size 100%
.flexibility-img
  retina-background-image('../img/flexibility')
.speed-img
  retina-background-image('../img/speed')
.integration-img
  retina-background-image('../img/integration')
.edit-example
  line-height: 1.35em
