$c-bg = #424242

.github-ribbon
  position: absolute
  top: 0
  right: 0
  z-index: 100
  width: 163px
  +below(xl-snap)
    z-index: 99
    top: 57px
  +below(med-snap)
    display: none
  img
    max-width: 100%
