.resources
  padding (xl-padding-block - 17) 0 (xl-padding-block - 31) 0
  h1
    font-family helvetica-reg
  img
    max-width 100%
  +below(small-snap)
    padding (tiny-padding-block + med-padding-block - 17) 0 (xs-padding-block + med-padding-block - 17) 0
  h3
    margin-top 10px
  .focused-example.cf
    position relative
    border none
    &:before
      content '@extend $cf'
.fancybox
  text-decoration none
  color dark-grey
.third
  margin-top ((large-padding-block - 6) - (large-padding-block / 2))
  padding (large-padding-block / 2) 0
  +below(small-snap)
    padding 0
.getting-started
  .tutorial
    background: url(../img/installation.png) no-repeat
    background-size: cover
  +below(small-snap)
    margin-top small-padding-block + tiny-padding-block - 4
  +above(huge-snap)
    shift(1/3, gutter:1)
.basic-use
  .tutorial
    background: url(../img/basic-use.png) no-repeat
    background-size: cover
.advanced-use
  .tutorial
    background: url(../img/advanced-usage.png) no-repeat
    background-size: cover
.focused-example
  &.third.tight
    padding (small-padding-block + 4) 0 (xs-padding-block - 2) 0
  &.getting-started:before
    content 'shift(1/3)'
  &.basic-use:before
    content 'shift(-1/3)'
.basic-use
  +above(huge-snap)
    shift(-1/3, gutter:1)
.tutorial
  size(100%, 200px)
  position relative
  display block
  background-color green
  opacity: .8
  transition: all 400ms ease
  &:hover
    opacity: 1
  +below(med-snap)
    height xl-padding-block
  +below(small-snap)
    height section-padding-block
.play-btn
  position: absolute
  z-index: 111
  top: 0
  bottom: 0
  right: 0
  left: 0
  margin: auto
.play
  background-image url('../img/play-icon.svg')
  background-size 30px
  background-repeat no-repeat
  background-position center
.fancybox-close
  background-image url('../img/x.svg')
  background-size 15px
  top 0
  right -40px
  background-color white
  background-repeat no-repeat
  background-position center
  border-radius 2px
  +below(900px)
    top -40px
    right 0px
