huge-snap = 1200px
xl-snap = 1024px
large-snap = 980px
med-snap = 768px
small-snap = 635px

white = #fff
light-grey = #fdfdfd
grey = #f3f3f3
dark-grey = #5e5e5e
charcoal = #303030
light-green = #a1d36e
green = #48cfad
dark-green = #21b291
orange = #fc6e51
dark-orange = #db5138
light-blue = #86edfa
pink = #ff6678
blue = #6AD1DD

section-padding-block = 142px
xl-padding-block = 90px
large-padding-block = 54px
med-padding-block = 34px
small-padding-block = 20px
xs-padding-block = 12px
tiny-padding-block = 8px

headline-font = 3.25rem
xl-font = 2.375rem
large-font = 1.375rem
med-font = 1rem
small-font = .875rem
tiny-font = .625rem

open-sans = 'Open Sans', Helvetica, Helvetica, Arial, sans-serif
helvetica-bold = 'Helvetica W01 Bold', helvetica bold, helvetica, arial, sans-serif
helvetica-reg = 'Helvetica W02 Roman', helvetica, arial, sans-serif
code-font = 'Anonymous Pro', Consolas, monospace

font-stack = open-sans
font-size = 14
font-color = dark-grey

quick-slide-animation = cubic-bezier(.16, .68, .43, .99)
drawn-out-animation = cubic-bezier(0.000, 0.615, 0.085, 0.705)
