@import 'jeet/normalize.css'
@import 'nib/gradients'
@import 'nib/vendor'
@import 'jeet/settings'

bs()
    box-sizing(border-box)
    *behavior url(js/vendor/boxsizing.htc)
*
    bs()
html
    overflow-y scroll
    overflow-x hidden
.placeholder
    color #aaa
img, video, audio, embed, object, input, iframe
    max-width 100%
last()
    margin-right 0
.last
    last()
settings()
_gridsystem-width = (column-width + gutter-width) * columns
total-width = 100%
min-width = max_width
correction = (((0.5 / min-width) * 100) * 1%)
cf()
    *zoom 1
    &:before, &:after
        content ""
        display table
    &:after
        clear both
body
    cf()
    width 100%
col(x, center = f, last = l)
    cf()
    display inline
    float left
    width total-width * ((((gutter-width + column-width ) * x) - gutter-width) / (_gridsystem-width - gutter-width))
    margin-right (total-width * ( (gutter-width * 0.5) / (_gridsystem-width - gutter-width))) * 2
    *width total-width * ((((gutter-width + column-width ) * x) - gutter-width) / _gridsystem-width)-correction
    *margin-right (total-width * ( (gutter-width * 0.5) / _gridsystem-width)-correction) * 2
    &:last-child
        last()
    if (center == c)
        float none
        display block
        margin-right auto !important
        margin-left auto !important
        *margin-right auto !important
        *margin-left auto !important
    if (last == f)
        &:last-child
            margin-right (total-width * ( (gutter-width * 0.5) / (_gridsystem-width - gutter-width))) * 2
            *margin-right (total-width * ( (gutter-width * 0.5) / _gridsystem-width)-correction) * 2
span(x, center = f)
    cf()
    display inline
    float left
    width total-width * ((((gutter-width + column-width ) * x) - gutter-width) / _gridsystem-width)
    padding-left total-width * ( (gutter-width * 0.5) / _gridsystem-width)
    padding-right total-width * ( (gutter-width * 0.5) / _gridsystem-width)
    *width total-width * ((((gutter-width + column-width ) * x) - gutter-width) / _gridsystem-width)-correction
    *padding-left total-width * ( (gutter-width * 0.5) / _gridsystem-width)-correction
    *padding-right total-width * ( (gutter-width * 0.5) / _gridsystem-width)-correction
    box-sizing(content-box)
    *behavior url(js/vendor/boxsizing.htc)
    if (center == c)
        float none
        display block
        margin-right auto !important
        margin-left auto !important
        *margin-right auto !important
        *margin-left auto !important
offset(offset = 1)
    margin-left ((total-width * ( (gutter-width * 0.5) / (_gridsystem-width - gutter-width))) * 4) * offset
center(mw = max_width, p = max_width_padding)
    cf()
    max-width mw
    margin-left auto
    margin-right auto
    padding-left p
    padding-right p
.center
    center()
stack(align = c)
    display block
    width 100%
    margin-left auto
    margin-right auto
    margin-bottom 2%
    if (align == c)
        text-align center
    if (align == l)
        text-align left
    if (align == r)
        text-align right
bp(w = 705px)
    unquote("@media screen and (max-width: " + w + "), (max-device-width: " + w + ") {")
endbp()
    unquote("}")