.comparison.text-center.grid-container(data-scroll-index='2')
  .contained.scrollReveal.fade-in
    h2 Let's face it, Jeet can do things other grids can't
  .contained.scrollReveal.comparison-animation
    .comparatives.fourth.span-example
      .blank-box.bigger-cell.cell
      .comparative.darker.cell
        p Easy to get started
      .comparative.cell
        p Flexible syntax
      .comparative.darker.cell
        p Custom grids
      .comparative.cell
        p Superior precision
      .comparative.darker.cell
        p
          | Actual columns 
          a(href='http://imgur.com/a/OWyOQ', target='_blank') ?
    .bootstrap.fourth.span-example
      .bootstrap-grid.bigger-cell.cell
      .check.darker.cell
      .x.cell
      .x.darker.cell
      .x.cell
      .x.darker.cell
    .foundation.fourth.span-example
      .foundation-grid.bigger-cell.cell
      .check.darker.cell
      .x.cell
      .x.darker.cell
      .x.cell
      .x.darker.cell
    .jeet.fourth.span-example
      .jeet-logo.bigger-cell.cell
      .check.darker.cell
      .check.cell
      .check.darker.cell
      .check.cell
      .check.darker.cell
  .cf
  include _nav-full-color
