footer.footer(data-scroll-index='7')
  .contained
    p.attribution.white.align-example
      | Made with&nbsp;
      span.heart
        |&hearts;
      | by&nbsp;
      a.mojotech.white(href='http://jeet.gs/awwwards')
        strong MojoTech
    p.copyright.white © 2014 MojoTech · All rights reserved.
