footer.footer(data-scroll-index='7')
  .contained
    a.attribution.white.align-example(href='http://jeet.gs/awwwards')
      | Made with&nbsp;
      span.heart
        |&hearts;
      | by&nbsp;
      strong.mojotech.white MojoTech
    p.copyright.white © 2016 MojoTech · All rights reserved.
