.github-band
  .contained.scrollReveal
    a.btn.view-api.toggle-api View API
    a.btn.view-api.scrollTo-api(data-scroll-goto='8') View API
    a.btn.without-border(href='https://github.com/mojotech/jeet') Contribute on Github
  include _nav-light-green
