.hero.text-center(data-scroll-index='0')
  .contained
    include _announcement
    h1.headline.white.scrollReveal.fade-in A grid system for humans
    p.nav-narrative.white.scrollReveal.fadeInUp-staggered-second
      | We still build things the way machines read them - not the way we intuit them.  Jeet allows you to express your page grid the same way a 
      a.white.inline-link(data-scroll-goto='4') human would describe
      | &nbsp;it. No more needlessly nesting elements. No more rigid twelve column rules. 
      a.white.inline-link(data-scroll-goto='9') Enjoy building faster
      | &nbsp;with less code, and more flexibility with 
      a.white.inline-link(data-scroll-goto='3') Jeet.
      | &nbsp;
    .grid-toggle.scrollReveal.pulse-staggered-third(data-scroll-goto='9')
      .track
        p.hide-grid-label hide grid
        p.show-grid-label.white show grid
        .handle
  include _nav-green
