.installation.grid-container(data-scroll-index='3')
  .contained
    h1.headline.text-center.scrollReveal.fade-in Getting started is easy.
    h2.text-center.scrollReveal.fade-in Jeet is available in 2 tasty flavors so it fits easily into any workflow.
    .half.scss.stack-example.scrollReveal.slide-in-first
      h3 SCSS Installation
      ol
        li
          | Install Ruby [&nbsp;
          a.inline-link(href='http://rubyinstaller.org/') Windows
          |  ,&nbsp;
          a.inline-link(href='https://github.com/sstephenson/rbenv') Mac/Linux
          |  ]
        li
          code.inline.to-copy gem install sass
          a.btn.copy-btn(data-clipboard-text='gem install sass') copy
        li
          code.inline.to-copy cd ~/Project
          a.btn.copy-btn(data-clipboard-text='cd ~/Project') copy
        li
          code.inline.to-copy svn checkout https://github.com/mojotech/jeet/trunk/scss/jeet
          a.btn.copy-btn(data-clipboard-text='svn checkout https://github.com/mojotech/jeet/trunk/scss/jeet') copy
        li
          p
            code.inline.to-copy @import 'jeet/index';
            a.btn.copy-btn(data-clipboard-text="@import 'jeet/index';") copy
          p.copy-code-above
            | goes at the top of&nbsp;
            code ~/Project/foo.scss
    .half.stylus.scrollReveal.slide-in-second
      h3 Stylus Installation
      ol
        li
          | Install&nbsp;
          a.inline-link(href='http://nodejs.org/') NodeJS
        li
          code.inline.to-copy npm install -g stylus jeet
          a.btn.copy-btn(data-clipboard-text='npm install -g stylus jeet') copy
        li
          code.inline.to-copy cd ~/Project
          a.btn.copy-btn(data-clipboard-text='cd ~/Project') copy
        li
          p
            code.inline.to-copy @import 'jeet'
            a.btn.copy-btn(data-clipboard-text="@import 'jeet'") copy
          p.copy-code-above
            | goes at the top of&nbsp;
            code ~/Project/foo.styl
      p.usage
        | *Learn more about usage with&nbsp;
        a.inline-link(href='https://github.com/mojotech/jeet/tree/master/stylus#usage') stylus
        |  or&nbsp;
        a.inline-link(href='https://github.com/mojotech/jeet/tree/master/scss#usage') scss
        |  here.
  include _nav-orange
  include _nav-full-color
