.share(data-scroll-index='6')
  .contained
    .centered.center-example
      .cta-animation
        h1.text-center Spread the good word.
        h2.text-center Share Jeet with your friends.
      a.facebook.share-inline-circle.scrollReveal(href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fjeet.gs')
        img(alt='facebook', src='dist/img/facebook-icon.svg')
      a.twitter.share-inline-circle.scrollReveal.flip-staggered-second(href='http://twitter.com/intent/tweet?text=JEET%20-%20An%20intuitive,%20preprocessor%20grid%20system%20for%20humans. http%3A%2F%2Fjeet.gs')
        img(alt='twitter', src='dist/img/twitter-icon.svg')
      a.google.share-inline-circle.scrollReveal.flip-staggered-third(href='https://plus.google.com/share?url=http%3A%2F%2Fjeet.gs')
        img(alt='gplus', src='dist/img/googleplus-icon.svg')
  include _nav-full-color
