doctype html
html
  head
    meta(name="viewport", content="initial-scale = 1.0,maximum-scale = 1.0")
    meta(name='keywords', content="Jeet, grid, system, preprocessor, Stylus, Sass, SCSS, CSS, responsive, fluid, ratio, fraction")
    meta(name='description', content="CSS preprocessor grid built with fractions and ratios to make columns flexible and your workflow fast.")
    link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
    meta(property="og:title", content="Jeet Grid | Smart CSS preprocessor grids")
    meta(property="og:site_name", content="Jeet Grid System")
    meta(property="og:description", content="CSS preprocessor grid built with fractions and ratios to make columns flexible and your workflow fast.")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@jeetgrid")
    meta(name="twitter:title", content="Jeet Grid | Smart CSS preprocessor grids")
    meta(name="twitter:description", content="CSS preprocessor grid built with fractions and ratios to make columns flexible and your workflow fast.")

    title Jeet Grid System | Smart CSS preprocessor grids
    script(type="text/javascript", src="//fast.fonts.net/jsapi/9f115ec9-04c6-49ed-bf53-7dc9921e4184.js")
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    link(rel='stylesheet', href='dist/css/master.css')
  body.landing-page
    a.awwwards(href="http://jeet.gs/awwwards")
      img(src="dist/img/awwwards_sotd_black_right2x.png", alt="Site of the Day")
    block content

  script(type="text/javascript", src='dist/js/vendor/custom-modernizr.js')
  script(type="text/javascript", src='dist/js/vendor/pushy.js')
  script(type="text/javascript", src='dist/js/vendor/scrollIt.js')
  script(type="text/javascript", src='dist/js/vendor/jquery.slicknav.min.js')
  script(type="text/javascript", src="dist/js/vendor/zeroClipboard.min.js")
  script(type="text/javascript", src='dist/js/vendor/matchHeight.js')
  script(type="text/javascript", src='dist/js/vendor/fancybox.js')
  script(type="text/javascript", src='dist/js/min.bounceApi.js')
  script(type="text/javascript", src="dist/js/min.fastclick.js")
  script(type="text/javascript", src='dist/js/min.stickyNav.js')
  script(type="text/javascript", src='dist/js/min.interactiveAPI.js')
  script(type="text/javascript", src='dist/js/min.animateScroll.js')
  script(type="text/javascript", src="dist/js/min.updateBrowser.js")
  script(type="text/javascript", src="dist/js/min.main.js")
