.features
  padding (xl-padding-block - 17) 0
  +below(small-snap)
    padding ( large-padding-block - 17) 0
  &.focused-parent.edit-view .edit-example
    edit()
    margin-top med-padding-block
    padding-top small-padding-block + 4
    transition background .2s drawn-out-animation
    .third
      margin-top 0
  .third
    margin-top ((large-padding-block - 6) - (large-padding-block / 2))
    padding (large-padding-block / 2) 0
    +below(small-snap)
      margin-top small-padding-block - 6
      padding-bottom 0
  h2
    hideAt(small-snap)
  h3
    margin (large-padding-block - 3) 0 (small-padding-block - 11) 0
    +below(small-snap)
      margin-top xs-padding-block - 3
  code
    font-weight bold
  .focused-example
    padding-top large-padding-block
    &:before
      content 'column(1/3)'
    &.edit-example:before
      content 'edit()'
.features-img
  size(140px)
  margin auto
.flexibility-img
  retina-background-image('../img/flexibility')
  background-size 140px
.speed-img
  retina-background-image('../img/speed')
  background-size 140px
.integration-img
  retina-background-image('../img/integration')
  background-size 140px
