.github-band
  column(1)
  position relative
  z-index 10
  background dark-green
  padding (small-padding-block - 3) 0
.last-updated
  margin (xs-padding-block - 2) 0 (-(xs-padding-block - 2)) 0
.latest-commit-link
  font-weight bold
  text-decoration none
.hero-ctas
  .btn
    float right
    margin-left small-padding-block
    &:hover
      color dark-green
  .without-border
    padding-right 0
    &:hover
      color white
.view-api-btn
  border 2px solid white
