.hero
  padding xl-padding-block 0
  background green
  z-index 10
  @extend $cf
  +below(small-snap)
    padding (xl-padding-block + tiny-padding-block) 0 large-padding-block 0
.headline
  font-size headline-font
  +below(small-snap)
    font-size 2.6rem
.nav-narrative
  margin-top large-padding-block - 27
  font-size large-font * 1.1
  line-height 2.4rem
  +below(small-snap)
    margin-top med-padding-block - 27
    padding 0
    font-size 1.2rem
    line-height 1.7rem
.touch .grid-toggle
  display none
.grid-toggle
  center()
  display inline-block
  clear both
  padding-top large-padding-block - 8
  text-decoration none
  cursor pointer
  user-select none
  hideAt(med-snap)
  .track, .handle
    margin auto
    border-radius 50px
    border-box box-sizing
  .track
    size(448px, 72px)
    position relative
    color white
    background dark-green
    border 1px solid darken(dark-green, 10%)
    padding (small-padding-block - 1) (med-padding-block - 2)
  .handle
    size(220px, 60px)
    pos(absolute, 5px, false, false, 6px)
    background white
    padding-top med-padding-block + 1
    transition left 0.25s
.hide-grid-label, .show-grid-label
  position absolute
  font-family open-sans
  font-size large-font
  text-transform uppercase
  z-index 1
  transition color 0.25s, padding 0.25s
.hide-grid-label
  left 61px
  color dark-green
.show-grid-label
  right 58px
  padding-right 10px
.grid-visible
  .handle
    pos(absolute, 5px, false, false, 221px)
  .hide-grid-label
    color white
    padding-left 10px
  .show-grid-label
    color dark-green
    padding-right 0
.updateBrowser
  z-index 999
  position fixed
  top 0
  width 100%
  background orange
  color white
