xl-snap = 1200px
large-snap = 980px
med-snap = 768px
small-snap = 480px

white = #fff
light-grey = #fdfdfd
grey = #f3f3f3
dark-grey = #5e5e5e
charcoal = #303030
light-green = #a1d36e
green = #48cfad
dark-green = #21b291
orange = #fc6e51
dark-orange = #db5138
light-blue = #86edfa
pink = #ff6678

section-padding-block = 142px
xl-padding-block = 90px
large-padding-block = 54px
med-padding-block = 34px
small-padding-block = 20px
xs-padding-block = 12px
tiny-padding-block = 8px

headline-font = 52px
xl-font = 38px
large-font = 22px
med-font = 16px
small-font = 14px
tiny-font = 10px

open-sans = 'Open Sans', Helvetica, Helvetica, Arial, sans-serif
montserrat = 'Montserrat', Helvetica, Arial, sans-serif
code-font = Consolas, Monaco, 'Andale Mono', monospace

font-stack = open-sans
font-size = 14
font-color = dark-grey

quick-slide-animation = cubic-bezier(.16, .68, .43, .99)
drawn-out-animation = cubic-bezier(0.000, 0.615, 0.085, 0.705)
