// Responsive
mobile_first = true
breakpoint = 705px

// Better default colors - https://github.com/jenius/axis/blob/master/axis/settings.styl
red = #B44326
orange = #F2A34F
yellow = #F8CA5C
green = #7FC028
light-blue = #52D7FE
blue = #00a6fc
purple = #8E48C2
white = #fff
black = #272727

// Custom Palette
c1 = lighten(blue, 10%)
c2 = darken(blue, 20%)
c3 = darken(blue, 80%)
c4 = darken(white, 5%)
c5 = white

// Typography
headers = helvetica
header_color = #111
header_weight = 200
tagline_color = #aaa
body = helvetica
body_color = #444
primary_ratio = perfect_fifth
secondary_ratio = major_seventh

// Grid Settings
gutter = 3
parent_first = false
layout_direction = LTR
