@import 'jeet/normalize.css';
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url("js/vendor/boxsizing.htc");
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
}
.placeholder {
  color: #aaa;
}
img,
video,
audio,
embed,
object,
input,
iframe {
  max-width: 100%;
}
.last {
  margin-right: 0;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.center {
  *zoom: 1;
  max-width: 1410px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.center:before,
.center:after {
  content: "";
  display: table;
}
.center:after {
  clear: both;
}
.chromeframe {
  width: 100%;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #eee));
  background: -webkit-linear-gradient(top, #fff 0%, #eee 100%);
  background: -moz-linear-gradient(top, #fff 0%, #eee 100%);
  background: -o-linear-gradient(top, #fff 0%, #eee 100%);
  background: -ms-linear-gradient(top, #fff 0%, #eee 100%);
  background: linear-gradient(top, #fff 0%, #eee 100%);
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: inset 0 -1px 0 #fff;
  box-shadow: inset 0 -1px 0 #fff;
  text-shadow: 0 1px 0 #fff;
}
.chromeframe p {
  *zoom: 1;
  max-width: 1410px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding: 30px 0;
  text-align: center;
}
.chromeframe p:before,
.chromeframe p:after {
  content: "";
  display: table;
}
.chromeframe p:after {
  clear: both;
}
.chromeframe p a {
  color: #3a95fb;
}
html {
  font-size: 14px;
  line-height: 1.5;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0.25em;
}
p {
  margin-top: 0;
  margin-bottom: 28px;
}
a {
  color: #3a95fb;
}
a img {
  display: block;
}
a:hover {
  color: #056ee3;
}
input,
textarea {
  color: #000;
}
#header {
  *zoom: 1;
  max-width: 1410px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#header:before,
#header:after {
  content: "";
  display: table;
}
#header:after {
  clear: both;
}
#logo {
  display: inline;
  float: left;
  *zoom: 1;
  width: 19.148936170212767%;
  margin-right: 2.127659574468085%;
  *width: 18.75% -correction;
  *margin-right: 2.083333333333333%;
  background: #aaa;
}
#logo:before,
#logo:after {
  content: "";
  display: table;
}
#logo:after {
  clear: both;
}
#logo:last-child {
  margin-right: 0;
}
nav {
  display: inline;
  float: left;
  *zoom: 1;
  width: 48.93617021276596%;
  margin-right: 2.127659574468085%;
  *width: 47.91666666666667% -correction;
  *margin-right: 2.083333333333333%;
  margin-left: 29.78723404255319%;
  background: #ccc;
}
nav:before,
nav:after {
  content: "";
  display: table;
}
nav:after {
  clear: both;
}
nav:last-child {
  margin-right: 0;
}
nav a {
  display: inline;
  float: left;
  *zoom: 1;
  width: 22.916666666666664%;
  padding-left: 1.0416666666666665%;
  padding-right: 1.0416666666666665%;
  *width: 22.916666666666664% -correction;
  *padding-left: 1.0416666666666665% -correction;
  *padding-right: 1.0416666666666665% -correction;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  *behavior: url("js/vendor/boxsizing.htc");
  text-align: center;
}
nav a:before,
nav a:after {
  content: "";
  display: table;
}
nav a:after {
  clear: both;
}
section {
  *zoom: 1;
  max-width: 1410px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
section:before,
section:after {
  content: "";
  display: table;
}
section:after {
  clear: both;
}
section > div {
  display: inline;
  float: left;
  *zoom: 1;
  width: 36.17021276595745%;
  margin-right: 2.127659574468085%;
  *width: 35.41666666666667% -correction;
  *margin-right: 2.083333333333333%;
  background: #bbb;
}
section > div:before,
section > div:after {
  content: "";
  display: table;
}
section > div:after {
  clear: both;
}
section > div:last-child {
  margin-right: 0;
}
section .box {
  display: inline;
  float: left;
  *zoom: 1;
  width: 48.93617021276596%;
  margin-right: 2.127659574468085%;
  *width: 47.91666666666667% -correction;
  *margin-right: 2.083333333333333%;
  background: #999;
}
section .box:before,
section .box:after {
  content: "";
  display: table;
}
section .box:after {
  clear: both;
}
section .box:last-child {
  margin-right: 0;
}
aside {
  display: inline;
  float: left;
  *zoom: 1;
  width: 23.404255319148938%;
  margin-right: 2.127659574468085%;
  *width: 22.916666666666664% -correction;
  *margin-right: 2.083333333333333%;
  position: relative;
  background: #ddd;
}
aside:before,
aside:after {
  content: "";
  display: table;
}
aside:after {
  clear: both;
}
aside:last-child {
  margin-right: 0;
}
aside:before,
aside:after {
  content: '';
  position: absolute;
  z-index: -1;
}
aside:before {
  display: block !important;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-border-radius: 999px;
  border-radius: 999px;
  width: 50%;
  height: 0;
  -webkit-box-shadow: 0 -4em 4em 4em rgba(0,0,0,0.3);
  box-shadow: 0 -4em 4em 4em rgba(0,0,0,0.3);
}
.btn {
  display: inline-block;
  background: #c37b1d;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  border: 1px solid #b16a0e;
  color: #faecd9;
  text-shadow: 0 1px 0 #b06503;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #d78820), color-stop(0.5, #b3711b));
  background: -webkit-linear-gradient(top, #d78820 50%, #b3711b 50%);
  background: -moz-linear-gradient(top, #d78820 50%, #b3711b 50%);
  background: -o-linear-gradient(top, #d78820 50%, #b3711b 50%);
  background: -ms-linear-gradient(top, #d78820 50%, #b3711b 50%);
  background: linear-gradient(top, #d78820 50%, #b3711b 50%);
  padding: 10px 40px;
}
.btn:hover {
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  color: #fbf2e6;
}
@media screen and (max-width: 705px), (max-device-width: 705px) {
#logo,
img,
nav,
nav a,
section > div,
aside {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  text-align: center;
}
}
@media screen and (max-width: 1000px), (max-device-width: 1000px) {
html {
  background: #f00;
}
}
