/*  Syntax Quick Reference
    ----------------------
    center(max_width = 1410px, padding = 15px)
    column[col](ratios = 1, offset = false)
    span(ratio = 1, offset = false)
    shift(ratios = 0)
    unshift()
    bp(w = 705px, mf = mobile_first)
    endbp()
    stack(padding = 0, align = center[c, left, l, right, r])
    unstack()
    edit()
    cf()
*/

@import 'settings'
@import 'shame'
@import 'utilities'
@import 'reset'
@import 'grid'
@import 'typography'