/*  Syntax Quick Reference
    ----------------------
    center(max_width = 1410px, padding = 15px)
    column[col](ratios = 1, offset = false)
    span(ratio = 1, offset = false)
    shift(ratios = 0)
    unshift()
    bp(w = 705px, mobile_first = false[mf])
    endbp()
    stack(padding = 0, align = center[c, left, l, right, r])
    edit()
    cf()
*/

@import 'palette'
@import 'utilities'
@import 'reset'
@import 'grid'
@import 'typography'
@import 'shame'


/*  Content Priority Creation Scheme
    --------------------------------
    1. Grid Layout
    2. Dummy Content Dump
    3. JS Plugins
    4. Typography
    5. Colors
    6. UI
    7. Mobile - If mobile first, push to 1
    8. Real Content Dump
*/