/*  Syntax Quick Reference
    ----------------------
    center(max_width = 1410px, padding = 15px)
    column[col](ratios = 1, offset = false)
    span(ratio = 1, offset = false)
    shift(ratios = 0)
    unshift()
    bp(w = 705px, mf = true)
    endbp()
    stack(padding = 0, align = center[c, left, l, right, r])
    edit()
    cf()
*/

@import 'palette'
@import 'shame'
@import 'utilities'
@import 'reset'
@import 'grid'
@import 'typography'


/*  Content Priority Creation Scheme
    --------------------------------
    1. Mobile first stacking
    2. Grid Layout
    3. Dummy Content Dump
    4. JS Plugins
    5. Typography
    6. Colors
    7. UI with BEM
    8. Placeholders
    9. Real Content Dump
*/