// Better default colors - https://github.com/jenius/axis/blob/master/axis/settings.styl

red = #B44326
orange = #F2A34F
yellow = #F8CA5C
green = #7FC028
light-blue = #52D7FE
blue = #00a6fc
purple = #8E48C2
white = #fff
black = #272727

// Custom Palettes - Create Your Own Palette/Variables
c1 = lighten(blue, 10%)
c2 = darken(blue, 20%)
c3 = darken(blue, 80%)
c4 = darken(white, 5%)
c5 = white