@import '../../../stylus/jeet'

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: sans-serif

edit()

section
  overflow: hidden
div
  span(1/2)
  @media (min-width: 600px)
    span(1/4)
    &:nth-child(3)
      span(1/4, offset: 1/4)
      background: blue

