* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
* {
  background: rgba(0,0,0,0.05);
}
section {
  overflow: hidden;
}
div {
  *zoom: 1;
  float: left;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
}
div:before,
div:after {
  content: '';
  display: table;
}
div:after {
  clear: both;
}
@media (min-width: 600px) {
  div {
    *zoom: 1;
    float: left;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 25%;
    margin-left: 0%;
    margin-right: 0%;
  }
  div:before,
  div:after {
    content: '';
    display: table;
  }
  div:after {
    clear: both;
  }
  div:nth-child(3) {
    *zoom: 1;
    float: left;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 25%;
    margin-left: 25%;
    margin-right: 0%;
    background: #00f;
  }
  div:nth-child(3):before,
  div:nth-child(3):after {
    content: '';
    display: table;
  }
  div:nth-child(3):after {
    clear: both;
  }
}
