// List functions courtesy of the wonderful folks at Team Sass
// Check out their awesome grid: Singularity

// Getter - span
@function jeet-get-span($ratio: 1) {
  @return $ratio * 100;
}

// Getter - column
// ---
// @param [number] $ratios (1): ratios
// @param [number] $g ($jeet-gutter): gutter
// ---
// @return [list]
// ---
@function jeet-get-column($ratios: 1, $gutter: $jeet-gutter) {
  $ratios: if(not $jeet-parent-first, jeet-reverse($ratios), $ratios);
  $width: 100;

  @each $ratio in $ratios {
    $gutter: $gutter / $width * 100;
    $width: 100 * $ratio - $gutter + $ratio * $gutter;
  }

  @return $width $gutter;
}

// Getter - layout direction
// ---
// @return [string]
// ---
@function jeet-get-layout-direction() {
  @return if($jeet-layout-direction == "RTL", right, left);
}

// Helper - replace-nth
// ---
// Progressively enhanced for Sass 3.3
// ---
// @param [list] $list: list
// @param [number] $index: index
// @param [literal] $value: value
// ---
// @return [list]
// ---
@function jeet-replace-nth($list, $index, $value) {
  // Fallback for Sass 3.2
  @if function-exists("set-nth") != true {
    $result: ();
    $index: if($index < 0, length($list) + $index + 1, $index);

    @for $i from 1 through length($list) {
      $result: append($result, if($i == $index, $value, nth($list, $i)));
    }

    @return $result;
  }

  // Sass 3.3
  @return set-nth($list, $index, $value);
}

// Helper - reverse
// ---
// Progressively enhanced for Sass 3.3
// ---
// @param [list] $list: list
// ---
// @return [list]
// ---
@function jeet-reverse($list) {
  // Sass 3.2
  @if function-exists("set-nth") != true {
    $result: ();

    @for $i from length($list) * -1 through -1 {
      $result: append($result, nth($list, abs($i)));
    }

    @return $result;
  }

  // Sass 3.3
  @for $i from 1 through floor(length($list) / 2) {
    $tmp: nth($list, $i);
    $list: set-nth($list, $i, nth($list, -$i));
    $list: set-nth($list, -$i, $tmp);
  }

  @return $list;
}

// Helper - opposite-direction
// ---
// @param [string] $direction: direction
// ---
// @return [string] | false
// ---
@function jeet-opposite-direction($direction) {
  @if $direction == "left" {
    @return right;
  } @else if $direction == "right" {
    @return left;
  } @else if $direction == "top" {
    @return bottom;
  } @else if $direction == "bottom" {
    @return top;
  } @else if index("ltr" "LTR", $direction) {
    @return rtl;
  } @else if index("rtl" "RTL", $direction) {
    @return ltr;
  } @else {
    @warn "`#{$direction}` is not a direction; please make sure your direction is all lowercase.";
    @return false;
  }
}
