// Columns with Gutters
@mixin column(
  $ratios: 1,
  $offset: 0,
  $cycle: 0,
  $uncycle: 0,
  $gutter: $jeet-gutter
) {
  $side: jeet-get-layout-direction();
  $opposite-side: jeet-opposite-direction($side);
  $column-widths: jeet-get-column($ratios, $gutter);
  $margin-last: 0;
  $margin-l: $margin-last;
  $margin-r: nth($column-widths, 2);
  @if $offset != 0 {
    @if $offset < 0 {
      $offset: $offset * -1;
      $offset: nth(jeet-get-column($offset, nth($column-widths, 2)), 1);
      $margin-last: $offset + nth($column-widths, 2) * 2;
      $margin-r: $margin-last;
    }
    @else {
      $offset: nth(jeet-get-column($offset, nth($column-widths, 2)), 1);
      $margin-l: $offset + nth($column-widths, 2);
    }
  }

  @include cf;
  display: inline;
  clear: none;
  text-align: inherit;
  float: $side;
  width: nth($column-widths, 1) * 1%;
  padding: {
    left:  0;
    right: 0;
  };
  margin: {
    #{$side}: $margin-l * 1%;
    #{$opposite-side}: $margin-r * 1%;
  };

  @if $uncycle != 0 {
    &:nth-child(#{$uncycle}n) {
      margin-#{_opposite-direction($side)}: $margin-r * 1%;
      float: $side;
    }

    &:nth-child(#{$uncycle}n + 1) {
      clear: none;
    }
  }

  @if $cycle != 0 {
    &:nth-child(#{$cycle}n) {
      margin-#{_opposite-direction($side)}: $margin-last * 1%;
      float: _opposite-direction($side);
    }

    &:nth-child(#{$cycle}n + 1) {
      clear: both;
    }
  }
  @else {
    &:last-child {
      margin-#{_opposite-direction($side)}: $margin-last * 1%;
    }
  }
}
@mixin col($args...) {
  @include column($args...);
}

// Columns without Gutters
@mixin span(
  $ratio: 1,
  $offset: 0
) {
  $side: jeet-get-layout-direction();
  $opposite-side: jeet-opposite-direction($side);
  $span-width: jeet-get-span($ratio);
  $margin-r: 0;
  $margin-l: $margin-r;
  @if $offset != 0 {
    @if $offset < 0 {
      $offset: $offset * -1;
      $margin-r: jeet-get-span($offset);
    }
    @else {
      $margin-l: jeet-get-span($offset);
    }
  }

  @include cf;
  float: $side;
  clear: none;
  text-align: inherit;
  width: $span-width * 1%;
  padding: {
    left:  0;
    right: 0;
  };
  margin: {
    #{$side}: $margin-l * 1%;
    #{$opposite-side}: $margin-r * 1%;
  };
}

// Source Ordering
@mixin shift($ratios: 0, $col-or-span: column, $gutter: $jeet-gutter) {
  $translate: '';
  $side: jeet-get-layout-direction();

  @if $side == right {
    $ratios: jeet-replace-nth($ratios, 0, nth($ratios, 1) * -1);
  }

  @if index("column" "col" "c", $col-or-span) {
    $column-widths: jeet-get-column($ratios, $gutter);
    $translate: nth($column-widths, 1) + nth($column-widths, 2);
  }
  @else {
    $translate: jeet-get-span($ratios);
  }

  position: relative;
  left: $translate * 1%;
}
@mixin unshift() {
  position: static;
  left: 0;
}

// Edit Mode
@mixin edit() {
  * {
    background: rgba(0, 0, 0, .05);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#10000000, endColorstr=#10000000);
  }
}

// Alias for `edit()`
@mixin debug() {
  @include edit;
}

// Horizontal Centering Block Elements
@mixin center($max-width: 1410px, $pad: 0) {
  @include cf();
  width: auto;
  max-width: $max-width;
  float: none;
  display: block;
  margin: {
    left:  auto;
    right: auto;
  };
  padding: {
    left:  $pad;
    right: $pad;
  };
}

// Uncenter Elements
@mixin uncenter() {
  max-width: none;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

// Stacking/Unstacking Elements
@mixin stack(
  $pad: 0,
  $align: false
) {
  $side: jeet-get-layout-direction();
  $opposite-side: jeet-opposite-direction($side);

  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin: {
    left:  auto;
    right: auto;
  };

  @if $pad != 0 {
    padding: {
      left:  $pad;
      right: $pad;
    }
  }

  @if ($align is not false) {
    @if index("center" "c", $align) {
      text-align: center;
    }
    @else if index("left" "l", $align) {
      text-align: left;
    }
    @else if index("right" "r", $align) {
      text-align: right;
    }
  }

  &:first-child {
    margin-#{$side}: auto;
  }

  &:last-child {
    margin-#{$opposite-side}: auto;
  }
}
@mixin unstack() {
  $side: jeet-get-layout-direction();
  $opposite-side: jeet-opposite-direction($side);

  text-align: $side;
  display: inline;
  clear: none;
  width: auto;
  margin: {
    left:  0;
    right: 0;
  };

  &:first-child {
    margin-#{$side}: 0;
  }

  &:last-child {
    margin-#{_opposite-direction($side)}: 0;
  }
  @if ($jeet-layout-direction == RTL) {
    text-align: right;
  } @else {
    text-align: left;
  }
}

// Horizontal/Vertical/Both Alignment - Parent container needs position relative. IE9+
@mixin align($direction: both) {
  position: absolute;
  transform-style: preserve-3d;

  @if index("horizontal" "h", $direction) {
    transform: translateX(-50%);
    left: 50%;
  } @else if index("vertical" "v", $direction) {
    transform: translateY(-50%);
    top: 50%;
  } @else {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}

// Clearfix
@mixin cf() {
  *zoom: 1;

  &:before, &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}
