// Grid Settings
$jeet-gutter:           3      !default;
$jeet-parent-first:     false  !default;
$jeet-layout-direction: "LTR"  !default;
$jeet-max-width:        1410px !default;

$g: $jeet-gutter;
