@import '../../../scss/jeet/index.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@include edit;

section {
  overflow: hidden;
}
div {
  @include column(1/2, $cycle: 2, $gutter: 2);
  @media (min-width: 600px) {
    @include column(1/4, $uncycle: 2, $cycle: 4, $gutter: 6);
  }
}
