@import '../../../scss/jeet/index.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@include edit;

section {
  overflow: hidden;
}
div {
  @include span(1/2);
  @media (min-width: 600px) {
    @include span(1/4);
    &:nth-child(3) {
      @include span(1/4, $offset: 1/4);
      background: blue;
    }
  }
}
