@import '../../../styl'
@import 'custom-settings'

*
  margin: 0
  padding: 0
  box-sizing: border-box

:root
  font-family: sans-serif

debug()

body
  center()

div
  stack()

  @media (min-width: 700px)
    span(1/2, $cycle: 2)

  @media (min-width: 900px)
    span(1/3, $cycle: 3)
