@import '../../../scss/jeet/index.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@include edit;

section {
  overflow: hidden;
}
aside, article {
  @include stack;
}
aside {
  @media (min-width: 700px) {
    @include col(2/7);
    @include shift(5/7);
  }
}
article {
  @media (min-width: 700px) {
    @include col(5/7);
    @include shift(-2/7);
  }
}
