* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
* {
  background: rgba(0,0,0,0.05);
}
section {
  overflow: hidden;
}
aside,
article {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
aside:first-child,
article:first-child {
  margin-left: auto;
}
aside:last-child,
article:last-child {
  margin-right: auto;
}
@media (min-width: 700px) {
  aside {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 26.428571428571455%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 73.57142857142854%;
  }
  aside:before,
  aside:after {
    content: '';
    display: table;
  }
  aside:after {
    clear: both;
  }
  aside:last-child {
    margin-right: 0%;
  }
}
@media (min-width: 700px) {
  article {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 70.57142857142854%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: -29.42857142857146%;
  }
  article:before,
  article:after {
    content: '';
    display: table;
  }
  article:after {
    clear: both;
  }
  article:last-child {
    margin-right: 0%;
  }
}
