@import '../../../stylus/jeet'

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: sans-serif

edit()

section
  overflow: hidden
aside, article
  stack()
aside
  @media (min-width: 700px)
    col(2/7)
    shift(5/7)
article
  @media (min-width: 700px)
    col(5/7)
    shift(-2/7)
