* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
* {
  background: rgba(0,0,0,0.05);
}
section {
  overflow: hidden;
}
div {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 49%;
  margin-left: 0%;
  margin-right: 2%;
}
div:before,
div:after {
  content: '';
  display: table;
}
div:after {
  clear: both;
}
div:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
div:nth-child(2n + 1) {
  clear: both;
}
@media (min-width: 600px) {
  div {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 20.5%;
    margin-left: 0%;
    margin-right: 6%;
  }
  div:before,
  div:after {
    content: '';
    display: table;
  }
  div:after {
    clear: both;
  }
  div:nth-child(2n) {
    margin-right: 6%;
    float: left;
  }
  div:nth-child(2n + 1) {
    clear: none;
  }
  div:nth-child(4n) {
    margin-right: 0%;
    float: right;
  }
  div:nth-child(4n + 1) {
    clear: both;
  }
}
