@import 'normalize.css';
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url("js/vendor/boxsizing.htc");
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
input,
textarea {
  color: #000;
}
.placeholder {
  color: #aaa;
}
img,
video,
audio,
embed,
object,
input,
iframe {
  max-width: 100%;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
